body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}

.search-container {
    margin-bottom: 20px;
}

input#searchBox {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.emoji-container {
    display: flex;
    flex-wrap: wrap;
}

.emoji-container div {
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.category-buttons {
    margin-bottom: 20px;
    text-align: center;
}

.category-buttons button {
    margin: 0 5px;  /* Gibt jedem Button etwas Abstand */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.category-buttons button.active {
    background-color: #007BFF;
    color: white;
    border-color: #0056b3;
}
